.features {
  padding: 0;
  background: white;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin: 70px 10px 0 10px;
  color: #1f2937;
  padding: 40px 0;
}

.section-subtitle {
  text-align: center;
  color: #6b7280;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.feature-card {
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
  transition: transform 0.3s ease; 
  text-align: center;
  margin: 1rem auto;
  justify-content: center;
  max-width: 300px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  width: 3rem;
  height: 3rem;
  background: #ffffff;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.feature-icon svg {
  width: 40px;       /* Tamaño del ícono */
  height: 40px;
  fill: #461111;       /* Color del ícono */
}

@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
  
  .section-title {
    font-size: 2rem;
  }
}